body{
  background-color:#DCDCDC;
}
h1{
  font-size: 43px;
  font-weight: bold;
  font-family: "noticia text", serif;
  color: #4D4D4D;
  margin-left: 200px;
  margin-top: 50px;
}
h4{
  font-size: 22px;
  font-weight: bold;
  font-family: "noticia text", serif;
  color: #4D4D4D;
  margin-left: 200px;
  margin-top: -20px;
}
.menu{
  margin-top: -50px;
}
#home{
  margin-left: 550px;
}
#resume{
  margin-left: 30px;
}
#projects{
  margin-left: 30px;
}
#contact{
  margin-left: 30px;
  color: red;
}
.anch{
  font-size: 18px;
  font-weight: bold;
  color: #8B8B8B;
  font-family: "noticia text", serif;
  text-decoration: none;
}
#res{
  font-size: 80px;
  font-family: monospace;
  color: #4D4D4D;
  margin-left: 200px;
}
.image{
  height: 40px;
  width: 40px;
}
#way{
  margin-left: 200px;
  margin-top: 150px;
}
.deco{
  background-color: #DC143C;
  border: none;
  width: 500px;
  height: 30px;
  margin-bottom: 5px;
}
::placeholder{
  color: white;  
}
#form{
  margin-left: 650px;
  margin-top: -340px;
}
#msg{
  height: 150px;
  width: 496px;
  text-align: start;
  font-size:15px;
}
input[type="submit"]{
  background-color: #6495ED;
  border: none;
  font-size: 20px;
}
#phone{
  height: 40px;
  width: 40px;
  margin-left:250px;
  margin-top: 45px;
}
#footer{
  background-color: rgb(255, 70, 100);
  width: 1349px;
  height: 150px;
  margin-left: -9px;
  margin-top: 100px;
  margin-bottom: 60px;
}
#text1{
  font-size: 20px;
  font-weight: bold;
}
#num1{
  font-size: 15px;
  margin-top: -20px;
}
#one{
  margin-left: 300px;
  margin-top: -65px;
  color: white;
}
#email{
  height: 40px;
  width: 40px;
  margin-left:250px;
}
#text2{
  font-size: 20px;
  font-weight: bold;
}
#num2{
  font-size: 18px;
  margin-top: -20px; 
}
#two{
  margin-left: 300px;
  margin-top: -65px;
  color: white;
}
#contacts{
  margin-top: -70px;
  margin-left: 250px;
}
#plus{
  height: 40px;
  width: 40px;
  margin-left:250px;
}
#text3{
  font-size: 20px;
  font-weight: bold;
}
#num3{
  margin-top: -75px; 
}
#three{
  margin-left: 300px;
  margin-top: -65px;
  color: white;
}
#follow{
  margin-top: -60px;
  margin-left: 600px;
}
#fb{
  height: 20px;
  width: 20px;
  margin-left:0px;
  margin-top:60px;
}
#twitter{
  height: 20px;
  width: 20px;
  margin-left:7px;
}
#cell{
  font-size:15px;
  color: #800080;
}